strUser = "XXX"
strPass = "XXX"
Retry = 0
RetryMax = 3
strDomain = "DOMAINNAME" 
Const adOpenStatic = 3
Const adOpenDynamic = 2
Const adLockOptimistic = 3
Const adUseClient = 3
Const intMin = 3600
Const WbemAuthenticationLevelPktPrivacy = 6
Const ForReading = 1
Const ForWriting = 2
Const ForAppending = 8

